<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />

    <queries>
        <package android:name="com.discord" />
        <package android:name="com.discord.beta" />
        <package android:name="com.discord.canary" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiscordWidget">

        <activity
            android:name=".ReplyActivity"
            android:exported="false" />

        <activity
            android:name=".OpenConversationActivity"
            android:exported="false" />

        <activity
            android:name=".WidgetConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.DiscordWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DiscordOAuthCallbackActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="discord-${discordApplicationId}" />
            </intent-filter>
        </activity>

        <service
            android:name=".DiscordMessagingService"
            android:exported="false"
            android:foregroundServiceType="remoteMessaging" />

        <service
            android:name=".DiscordNotificationListener"
            android:exported="true"
            android:label="@string/notification_service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ConversationWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/conversation_widget_info" />
        </receiver>
    </application>
</manifest>
